body {
  font-family: sans-serif;
  width: 800px;
  margin: auto;
  background-image: url(imagens/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.img-logo {
  width: 25rem;
}

.img-html {
  float: left;
}

.img-css {
  float: right;
}