#div1{
  background-color: rgba( 255, 0, 0, .5) ;
  padding: 0.625rem;
  width: 90%;
  position: sticky;
  top: 3rem;
}

#div2{
    background-color: rgba( 0, 255, 0, .5) ;
    padding: 0.625rem;
    width: 80%;
    height: 6.25rem;
    position: relative;
}

#div3{
    background-color: rgba( 0, 0, 255, .5) ;
    padding: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    position: static;
    top: 20px;
    right: 0;
}